h1 {
  color: purple;
  text-align: center;
}

body {
  background-color: beige;
}

ul {
  list-style-type: none; /* removes bullet point style*/
  background-color: purple;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

li {
  display: inline;
}

li a {
  color: white;
  display: inline-block; /* makes the links individual */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; /* gets rid of underline */
}

li a:hover {
  background-color: black;
}

li a:active {
  background-color: gold;
}

.ticket_text {
  color: purple;
  position: relative;
  left: 500px;
  top: -250px;
  font-weight: bold;
  size: 50px;
}
  